.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.tryflex{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-left: 2em; /*Distanzia dal logo*/
}
.table-center{
  position: absolute;
  width: 80% !important;
  margin: 20em 10em 0px 10em;
  padding: 9px;
}

.nav{
  display: block; /*Block non ammette elementi prima di lui->va sopra?*/
   align-items: center;
  background: linear-gradient(180deg, rgb(168, 168, 173), rgb(250, 248, 248));
  height: 100px;
}

.nav-row{
  display: flex; 
  height: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer{
  display: absolute; /* Permette lo spostamento senza dipendenze*/
  align-items: center;
  background: linear-gradient(180deg, rgb(250, 248, 248),rgb(168, 168, 173));
  height: 100px;
  margin-top: 40em;
  bottom:0;
}

.footer-row{
  display: flex;
  height: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
