*{
  /*Global CSS variables*/
  --error-color: red;
  --enable-color: green;
  --fonts: SANS-SERIF;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-y: scroll;
  background: #ffffff;
  line-height: 1.5;
  font-family: 'Inter custom',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body::-webkit-scrollbar{
  width: 1.5vh;
}

body::-webkit-scrollbar-thumb{
  background: #7775;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover{
  background: #7777;
}

body::-webkit-scrollbar-track{
  border-radius: 15px;
}

body::-webkit-scrollbar-track:hover{
  background: #3338;
}
